@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========= VARIABLES ========== */
:root {
  --primary-clr: #ff9800;
  --primary-clr-alt: #ff9800;
  --second-clr: #ff9800;
  --second-clr-alt: #ff9800;
  --text-clr: #f5fdff;
  --nav-txt-clr: var(--text-clr);
  --text-clr-bg: #f5fdff;
  --bg-clr: #000000;
  --mobile-menu-bg-clr: #0d0d0d;
  --sec-two-bg-clr: var(--mobile-menu-bg-clr);
  --form-bg-clr: #dcf1ff70;
  --form-focus-bg-clr: #bf93cf73;
  --gray-clr: #f5f8fa;
  --product-bg-clr: #364f63;
  --bx-shadow-clr: #6d477b33;
}

/* ======== White Theme ======== */
.lightmode {
  --primary-clr-alt: #6c467a;
  --second-clr-alt: #027c97;
  --form-bg-clr: #a67eb43a;
  --form-focus-bg-clr: #107a9231;
  --sec-two-bg-clr: #f5fdff;
  --text-clr: #2d4253;
  --nav-txt-clr: var(--second-clr);
  --bg-clr: #f5fdff;
  --product-bg-clr: #f5fdff;
  --bx-shadow-clr: #2d425333;
}

/* ------------ BASE ------------ */
body {
  scroll-behavior: smooth;
  font-family: "Pompiere", cursive;
  font-size: 1.2rem;
  color: var(--text-clr);
  background-color: var(--bg-clr);
  transition: background-color 1000ms;
}

ul {
  list-style: none;
}
img {
  height: auto;
  width: 100%;
}
.pos-abs-center {
  position: absolute;
}
.s-definition {
  font-size: calc(27 * 0.06rem);
  max-width: 32rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
/* -- transitions -- */
.clr-transition {
  transition: color 1000ms;
}
.bg-clr__transition {
  transition: background-color 1s;
}
/* ================= */
/* -- buttons -- */
.button {
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  color: var(--text-clr-bg);
}

.btn-primary {
  background-color: var(--primary-clr);
}
.btn-second-alt {
  background-color: transparent;
  border: thin solid var(--text-clr);
  color: var(--text-clr);
}
/* ================= */

.container {
  padding: 1.8rem 3rem;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}
@media screen and (min-width: 3000px) {
  .container {
    padding: 1.8rem 500px;
  }
}

/* ------------------------- */

/* -------- HEADER -------- */
header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: var(--nav-txt-clr);
  font-size: 2.3rem;
  text-decoration: none;
  margin-right: 2rem;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
  position: fixed;
  top: 63px;
  right: 55px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ff9800;
  border-bottom: 2px solid #ff9800;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ff9800;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ff9800;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #1a1a1a;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1) {
  transition-delay: 200ms;
}
.nav ul li:nth-child(2) {
  transition-delay: 150ms;
}
.nav ul li:nth-child(3) {
  transition-delay: 100ms;
}
.nav ul li:nth-child(4) {
  transition-delay: 50ms;
}
.nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ff9800;
  transition: all 250ms linear;
}
.nav ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}
.nav ul li a:after {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #ff9800;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after {
  width: 100%;
}

.menu-icon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}

@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label {
    right: 55px;
  }
}
.nav {
  right: 30px;
}

.nav ul li a {
  font-size: 8vh;
}

/* ----- ----------- ------ */
.social-links {
  display: flex;
  align-items: center;
}
.social-links ul {
  display: flex;
}
.social-links ul li {
  margin-right: 1.5rem;
}
.social-links ul li:last-child {
  margin-right: 0;
}
.nav-icon {
  cursor: pointer;
  color: var(--nav-txt-clr);
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .nav-icon {
    color: var(--text-clr-bg);
  }
}
.line-divider {
  height: 0.05rem;
  width: 1rem;
  background-color: var(--nav-txt-clr);
  margin: 0 0.5rem;
  border-radius: 10rem;
}
.theme-togglers {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.theme-toggler {
  color: var(--nav-txt-clr);
  font-size: 1.5rem;
  transition: transform 300ms;
}
@media screen and (max-width: 768px) {
  .theme-toggler {
    color: var(--text-clr-bg);
  }
}
.theme-toggler:hover {
  transform: rotate(60deg);
}
.bxs-moon {
  display: none;
}
.menu-togglers {
  cursor: pointer;
  display: none;
}
.menu-toggle {
  color: var(--nav-txt-clr);
  font-size: 3rem;
}
.bx-menu,
.bx-x {
  pointer-events: none;
}
.bx-x {
  display: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu-togglers {
    display: block;
  }
}

/* -------- SECTION ONE: Hero section -------- */
.section-one {
  height: 81.5vh;
}
@media screen and (max-width: 846px) {
  .section-one {
    height: 74vh;
  }
}
@media screen and (max-width: 845px) {
  .section-one {
    height: 68vh;
  }
}
@media screen and (max-width: 546px) {
  .section-one {
    height: 74vh;
  }
}
.hook-container {
  margin-top: 2rem;
}
@media screen and (max-width: 348px) {
  .hook-container {
    margin-top: 0rem;
  }
}
.hook-title {
  font-size: 4rem;
  line-height: 117%;
  max-width: 50rem;
  color: var(--text-clr);
  transition: font-size 1000ms;
}
.hook-sub_title {
  font-size: 30px;
  line-height: 157.5%;
  color: var(--text-clr);
}
@media screen and (min-width: 414px) {
  .hook-title {
    font-size: 92px;
  }
}
.hero-btns-container {
  margin-top: 2rem;
  opacity: 0;
}
.in-btn-icon {
  font-size: 1rem;
}
.btn-hero {
  border-radius: 50px;
  font-size: 0.8rem;
  transition: box-shadow 300ms;
  margin-right: 0.1rem;
}
@media screen and (min-width: 358px) {
  .btn-hero {
    margin-right: 2rem;
    font-size: 0.9rem;
  }
}
.btn-hero:last-child {
  margin-right: 0;
}
.btn-hero:hover {
  box-shadow: 5px 5px var(--text-clr);
}
.hero-lady-img {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  transition: width 1000ms;
}
@media screen and (min-width: 546px) {
  .hero-lady-img {
    display: block;
    width: 250px;
  }
}
@media screen and (min-width: 654px) {
  .hero-lady-img {
    width: 320px;
  }
}
@media screen and (min-width: 980px) {
  .hero-lady-img {
    width: 400px;
  }
}
.hand-hole-cake-img {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  transition: width 1000ms;
}
@media screen and (max-width: 845px) {
  .hand-hole-cake-img {
    bottom: 1rem;
  }
}
@media screen and (max-width: 414px) {
  .hand-hole-cake-img {
    display: none;
  }
}
@media screen and (max-height: 656px) {
  .hand-hole-cake-img {
    display: none;
  }
}

@media screen and (min-width: 546px) {
  .hand-hole-cake-img {
    width: 120px;
  }
}

/* -------- SECTION TWO: Product section -------- */
.section-two {
  background-color: var(--sec-two-bg-clr);
}
.s-two-upper-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.s-two-slogan {
  font-size: 1.5rem;
  max-width: 15rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
@media screen and (max-width: 846px) {
  .section-two {
    margin-top: 5rem;
  }
  .s-two-slogan {
    margin-bottom: 2rem;
  }
}
.s-two-products {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 700px) {
  .s-two-products {
    margin-top: 4rem;
  }
}
.product {
  cursor: pointer;
  /* From https://css.glass */
  background: rgba(54, 79, 99, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  width: 100%;
  height: calc(421 * 0.06rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 1000ms;
}
@media screen and (max-width: 1147px) {
  .product {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 700px) {
  .product {
    width: calc(365 * 0.06rem);
  }
}
.product:hover {
  transform: rotateY(360deg);
}
.product-one img {
  max-width: calc(213.51 * 0.06rem);
  transform: rotate(30deg);
}
.product-two img {
  max-width: calc(101 * 0.06rem);
}
.product-three img {
  max-width: calc(405 * 0.06rem);
}
@media screen and (min-width: 700px) {
  .product {
    width: calc(365 * 0.06rem);
  }
}
.product .price {
  top: 0;
  left: 0;
  margin: 1rem;
}

.product .buy-btn {
  cursor: pointer;
  bottom: 0;
  left: -0.1rem;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  color: var(--text-clr-bg);
  background-color: var(--primary-clr);
  clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.product .buy-btn:hover {
  text-decoration: underline;
}
.product .name {
  bottom: 0;
  right: 0;
  margin: 1rem;
  color: var(--text-clr);
}
.product .name b {
  color: var(--primary-clr-alt);
}

/* ----- section three: Ad products section ----- */
.section-three {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 843px) {
  .section-three {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1023px) {
  .section-three {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .section-three {
    align-items: flex-start;
  }
}

.s-three-upper-img-container img {
  width: 100%;
  margin-bottom: 1.3rem;
  transition: width 1000ms;
}
@media screen and (min-width: 992px) {
  .s-three-upper-img-container img {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 515px) {
  .s-three-upper-img-container img {
    width: calc(400 * 0.06rem);
  }
}
.s-three-lower-container {
  display: flex;
  flex-direction: column;
}
.s-three-title {
  font-size: 2.5rem;
  max-width: 20rem;
  margin-bottom: 1.5rem;
  color: var(--primary-clr-alt);
}
.s-three-desc {
  margin-bottom: 1.5rem;
}
.s-three-price {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.ad-buy-btn {
  max-width: calc(147 * 0.06rem);
  margin-top: 0.8rem;
  background-color: var(--primary-clr);
  color: var(--text-clr-bg);
  transition: box-shadow 300ms;
}
.ad-buy-btn:hover {
  box-shadow: 5px 5px var(--text-clr);
}

/* ----- section four: oath section ----- */
.section-four {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  background: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: top;
}
@media screen and (min-width: 843px) {
  .section-four {
    flex-wrap: nowrap;
  }
}

.s-four-title {
  max-width: 30rem;
  margin-bottom: 1rem;
}
.employer-info {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.employer {
  margin-bottom: 1rem;
}
@media screen and (min-width: 252px) {
  .employer {
    margin-bottom: 0;
  }
}
.employer .name {
  color: var(--primary-clr-alt);
  font-size: 1.3rem;
}
.employer .title {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.rate img {
  width: 100px;
}
.waiter-img-container {
  margin-top: 2rem;
}
@media screen and (min-width: 392px) {
  .waiter-img-container {
    margin-top: 0;
    margin-left: 2rem;
  }
}
.waiter-img-container img {
  width: 100%;
}
@media screen and (min-width: 392px) {
  .waiter-img-container img {
    width: 370px;
  }
}

/* ----- section five: promo section ----- */
.section-five {
  z-index: -1;
  background: rgba(108, 70, 122, 0.1);
}
.promo-card {
  display: flex;
  position: relative;
  padding: 1rem 1rem 13rem 1rem;
  background: linear-gradient(
    153.18deg,
    rgba(108, 70, 122, 0.5) 54.24%,
    rgba(108, 70, 122, 0) 100%
  );
}
.promo-card img {
  z-index: -1;
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width 1000ms;
}
@media screen and (min-width: 678px) {
  .promo-card img {
    z-index: 0;
    width: 250px;
  }
}
@media screen and (min-width: 912px) {
  .promo-card {
    padding: 2rem;
    margin-top: 5rem;
    background: linear-gradient(
      90deg,
      rgba(108, 70, 122, 0.5) 54.24%,
      rgba(108, 70, 122, 0) 100%
    );
  }
  .promo-card img {
    width: 280px;
  }
}
.promo-title {
  font-size: 2rem;
  max-width: 20rem;
}
.promo-description {
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
.promo-btn {
  width: 30%;
}

/* ----- footer section ----- */
/* ---- contact form ---- */
.contact-form {
  margin-bottom: 3rem;
}
.footer-title {
  color: var(--text-clr);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.form-control {
  display: flex;
  flex-direction: column;
}
.form-label {
  color: var(--text-clr);
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}
.all-input {
  color: var(--text-clr);
  background-color: var(--form-bg-clr);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: box-shadow 300ms, color 300ms;
}
.all-input:focus {
  box-shadow: 0 0 1px 3px var(--form-focus-bg-clr);
}
.normal-input {
  height: 3.5rem;
}
.textarea-input {
  padding-top: 1rem;
  height: 250px;
}
.send-msg-btn {
  width: 80%;
  height: 3.5rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 1024px) {
  .name-email-inputs-container {
    display: flex;
  }
  .form-control {
    margin-right: 3rem;
  }
  .form-label {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .all-input {
    font-size: 1.3rem;
  }
  .normal-input {
    width: 400px;
  }
  .textarea-input {
    width: 850px;
  }
  .send-msg-btn {
    height: 3.2rem;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .form-label {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }
  .all-input {
    font-size: 1.2rem;
  }
  .normal-input {
    height: 3.4rem;
  }
  .textarea-input {
    width: 850px;
  }
}
/* ---------------------- */

.other-footer-infos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.footer-info {
  color: var(--text-clr);
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-right: 0.8rem;
  margin-bottom: 0.5rem;
}
.footer-info i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
  color: var(--text-clr);
}
.footer-social-links {
  margin-top: 2rem;
}
@media screen and (min-width: 368px) {
  .footer-social-links {
    margin-top: 0;
  }
}
.footer-social-links ul {
  display: flex;
}
.footer-social-links ul .bx {
  color: var(--text-clr);
  margin-right: 1rem;
  font-size: 1.7rem;
  opacity: 0.8;
  transition: opacity 300ms;
}
.footer-social-links ul .bx:hover {
  opacity: 1;
}
@media screen and (min-width: 1080px) {
  .footer-info {
    font-size: 1.2rem;
  }
  .footer-info i {
    font-size: 1.4rem;
  }
  .footer-social-links ul .bx {
    font-size: 1.4rem;
  }
}

/* ---- lower footer ---- */
.lower-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 1rem;
}
@media screen and (min-width: 449px) {
  .lower-footer {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.lower-footer::before {
  content: "";
  position: absolute;
  top: 0;
  height: 0.08rem;
  width: 100%;
  opacity: 0.2;
  background-color: var(--primary-clr-alt);
}
.lower-footer-elt {
  margin-bottom: 1rem;
}
@media screen and (min-width: 449px) {
  .lower-footer-elt {
    margin-bottom: 0;
  }
}
.developer {
  margin-right: 1rem;
}
.copy,
.developer,
.policy {
  color: var(--text-clr);
  font-size: 1.2rem;
}
.developer a,
.policy a {
  color: var(--primary-clr-alt);
}

.img-logo {
  padding: 5px;
  width: 150px;
}

.gallery {
  --s: 113px; /* control the size */
  --g: 10px; /* control the gap */
  --f: 1.5; /* control the scale factor */

  display: grid;
  gap: var(--g);
  width: calc(3 * var(--s) + 2 * var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: 0.35s linear;
}

.gallery img:hover {
  filter: grayscale(0);
  width: calc(var(--s) * var(--f));
  height: calc(var(--s) * var(--f));
}

@media screen and (min-width: 1024px) {
  .developer,
  .policy {
    font-size: 1.1rem;
  }
}

.containerr {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.blog-card {
  max-width: 550px;
  width: 100%;
  height: 500px;
  position: absolute;
  font-family: "Droid Serif", serif;
  color: #fff;
  top: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.4s;
  background: url(https://unsplash.it/600/800?image=1061) center no-repeat;
  background-size: 100%;
}
.blog-card a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}
.blog-card .color-overlay {
  background: rgba(64, 84, 94, 0.5);
  width: 550px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 550px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.blog-card:hover {
  box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 100px;
}
.blog-card:hover .color-overlay {
  background: rgba(64, 64, 70, 0.8);
}
.blog-card:hover .title-content {
  margin-top: 70px;
}
.title-content {
  text-align: center;
  margin: 170px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.6s;
}

.blog-card:hover h3:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%;
}

.blog-card h3,
.blog-card h3 a {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.blog-card h3 a:hover {
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
  content: " ";
  display: block;
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: #bda26b;
  transition: all 0.2s;
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #ff9800;
  font-style: italic;
  line-height: 18px;
}
.intro a {
  color: #ff9800;
}
.intro a:hover {
  text-decoration: underline;
}
.card-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a {
  display: block;
  width: 100px;
  margin: 15px auto;
  background: #ff9800;
  color: #444;
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 0.8em;
}
.card-info a:hover {
  background: #8e7c49;
  color: #ff9800;
}
.card-info a:hover span {
  filter: brightness(10);
  opacity: 1;
}

/*  ================  */

/* ignore this bit :P */
#profile-badges:after {
  content: "BRO";
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1px 4px 1px 4px;
  color: black !important;
  border-radius: 3px;
  position: relative;
  top: -2px;
  text-shadow: none !important;
  white-space: nowrap;
  letter-spacing: 0;
  background: #ffdd40;
}
.profile-header {
  background: #333
    url(https://images.unsplash.com/photo-1435783099294-283725c37230?dpr=1&auto=compress,format&fit=crop&w=1376&h=635&q=80&cs=tinysrgb&crop=&bg=)
    top center no-repeat;
  background-size: cover;
  font-size: 3em;
  position: relative;
}
.profile-header:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(23, 23, 31, 0.42);
  z-index: 0;
}
#profile-links a {
  font-family: "Abril Fatface", serif;
  font-size: 1.2em;
}

.profile-links a[href*="nodws\.com"]:before {
  content: "\2616";
  color: #0a45b5;
  padding-right: 3px;
}

.profile-links a[href*="twitter"]:before {
  content: "\1f426";
  color: #08c;
}

.profile-links a[href*="dribbble"]:before {
  content: "\26BE";
  color: #d055bf;
}
#following-this-user {
  pointer-events: none;
}
#follow-this-user {
  font-size: 1.2em;
  border-color: #359ef9;
}
#follow-this-user:after {
  content: "\1f448";
}
.links-and-stats {
  background: rgb(20, 20, 21);
}
.profile-name h1 {
  text-shadow: 0 6px 9px rgba(0, 0, 0, 0.48);
}
.profile-avatar {
  bottom: -10px;
  width: 150px;
  height: 150px;
  border: 0px solid #1e1e1e;
  background: rgba(2, 2, 2, 0.49);
  box-shadow: 0 19px 19px -10px rgba(0, 0, 0, 0.63);
}
.profile-username,
.upsell,
.profile-location,
.primary-pro {
  opacity: 0;
}
.upsell,
#pen-as-header-question {
  display: none;
}
.profile-nav-1 a {
  font-size: 1.2rem;
}
.profile-bio,
.profile-nav-1 a.active,
.profile-nav-1 a:hover {
  color: rgba(20, 20, 21, 0.59) !important;
  font-size: 1.2rem;
}
.meta .pen-title {
  font-family: "Droid Serif", serif;
  text-align: center;
}
.pagination-button {
  background-color: #2f2f31;
  border-color: #2f2f31;
  transition: all 0.2s;
}
.pagination-button:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.single-project .stats,
.single-pen .stats {
  text-align: center;
  width: 100%;
}
.stats svg {
  fill: #bda26b;
}
.stats svg,
.loves .icon-heart {
  fill: rgba(47, 47, 49, 0) !important;
  stroke: #ba6 !important;
  stroke-width: 0.1em !important;
}
.loves .icon-heart {
  stroke-width: 0.5em !important;
}
.comments svg {
  stroke-width: 0.35em !important;
}
.single-stat.loves.loved-1 svg {
  stroke: #fff !important;
}

.single-pen:hover h3:after {
  width: 40%;
  transition: all 0.2s;
}
.pen-actions {
  border: 0px !important;
}
.meta {
  box-shadow: none !important;
}

.galleryy {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.galleryy:hover .gallery__image {
  filter: grayscale(1);
}
.galleryy__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.galleryy__link {
  margin: 2px;
  overflow: hidden;
}
.galleryy__link:hover .gallery__image {
  filter: grayscale(0);
}
.galleryy__link:hover .gallery__caption {
  opacity: 1;
}
.galleryy__thumb {
  position: relative;
}
.galleryy__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.galleryy__image:hover {
  transform: scale(1.1);
}
.galleryy__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}

.heading {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
  padding: 40px;
  color: white;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

.corners {
  background: #ff9800;
  height: 700px;
  margin: 50px auto;
  max-width: 600px;
  position: relative;
  width: 80%;
  box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
}

/* Corner Effect */
.corners:after,
.corners:before {
  background: #e6e6e6;
  content: "";
  height: 50px;
  position: absolute;
  top: -25px;
  width: 100px;
  box-shadow: 0 5px 10px -7px hsla(0, 0%, 0%, 0.5);
}
.corners:after {
  left: -50px;
  transform: rotate(-45deg);
}
.corners:before {
  right: -50px;
  transform: rotate(45deg);
}

button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

button span {
  position: relative;
  z-index: 1;
}
button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.theme-toggler {
  color: var(--text-clr-bg);
}
